

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="base/mobile-fragment::common"/>


<style>
body {margin-top:2.75rem;margin-bottom:3rem;font-size:0.865rem;}


</style>

<script>

// 去掉默认loading
base.showLoading = function() {}
base.hideLoading = function() {}

</script>

</head>

<body>

<div id="app">

<div>

<keep-alive><router-view></router-view></keep-alive>


</div>

<div style="display: none">
<router-link to="/home" id="home">home</router-link>
<router-link to="/subject" id="subject">subject</router-link>
<router-link to="/my" id="my">my</router-link>

<router-link to="/view" id="view">view</router-link>
</div>

</div>

<div>

<script>
function gotoPage(id) {
	document.getElementById(id).click();
}

function view() {
	mainMenu.display = false;
	document.getElementById("view").click();
}

function goBack() {
	mainMenu.display = true;
	router.back(-1);
}
</script>

<style type="text/css">
.main-menu {position:fixed;bottom: 0; background-color:#f0f0f0;width:25.875rem;;z-index:9999}
.main-div {display:flex;justify-content:space-between; padding:0.3rem 0.8rem 0.1rem 0.8rem;}
.main-item {text-align: center;color:gray;cursor:pointer;font-size: 0.815rem}
.main-item div {padding:-0.2rem;margin:0rem}
.main-activtiy {color:orange;}
</style>
<div id="mainMenu" class="main-menu" v-if="display">
<div class="main-div">
	<div class="main-item" onclick="gotoPage('home');">
		<div class="fa fa-home"></div><div>xxx1</div>
	</div>
	<div class="main-item" id="subject" onclick="gotoPage('subject')">
		<div class="fa fa-asterisk"></div><div>xxxx2</div>
	</div>
	<div class="main-item" id="my" onclick="gotoPage('my')">
		<div class="fa fa-user-circle"></div><div>My</div>
	</div>
</div>
</div>
</div>


<script>
const routes = [
	{path:'/home', component: httpVueLoader(baseURL + 'static/router/home.vue')},
	{path:'/subject', component: httpVueLoader(baseURL + 'static/router/subject.vue')},
	{path:'/my', component: httpVueLoader(baseURL + 'static/router/my.vue')},

	{path:'/view', component: httpVueLoader(baseURL + 'static/router/view.vue')}
]
const router = new VueRouter({routes})
const app = new Vue({router}).$mount('#app')

var mainMenu = new Vue({
	el:"#mainMenu",
	data:{display:true}
})
</script>

</body>
</html>

