<html xmlns:th="http://www.thymeleaf.org">

<meta   th:fragment="common" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<script th:fragment="common" type="text/javascript" th:inline="javascript">var baseURL = [[@{/}]];</script>
<link   th:fragment="common" rel="stylesheet" th:href="@{/static/common/font-awesome/css/font-awesome.min-4.7.0.css}">
<script th:fragment="common" type="text/javascript" th:src="@{/static/common/vue.all.js}"></script>

<script th:fragment="common" type="text/javascript" th:src="@{/static/mobile/vue-router.min.js}"></script>

<link   th:fragment="common" rel="stylesheet" th:href="@{/static/mobile/mobile.css?v=1}">
<script th:fragment="common" type="text/javascript" th:src="@{/static/mobile/mobile.js}"></script>
















