
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link th:replace="base/base-fragment::common"/>


<title>MEMORY_DEMO</title>

<script type="text/javascript" th:src="@{/static/tool/jquery.min-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/static/tool/img/cropbox.js?v=16}"></script>
<script type="text/javascript" th:src="@{/static/tool/img/html2canvas.min.js}"></script>
<link rel="stylesheet" th:href="@{/static/tool/img/cut.css}">


</head>
<body>
<div class="container">
	<div class="imageBox" id="containerDiv" :style="{width:boxWidth, height:boxHeight}"  @mousedown="mousedown()" @touchstart="mousedown()" @mousemove="mousemove()" @touchmove="mousemove()">
		<div class="thumbBox" :style="{display:'none', width:thumbWidth, height:thumbHeight}"></div>
	 	<div style="position:relative;width:0;height:0;">
			<div style=" position: absolute;top:100px; left:220px;font-size:18px;background-color: white;color:black;border-radius: 8px;white-space: nowrap;">
				👍YES Very Good
			</div>
		</div>
   		<img id="cropCircle">
    	<img id="cropCircleImg" align="absmiddle" style="width:200px;margin-top:4px;border-radius:200px;box-shadow:0px 0px 12px #7E7E7E;display:none">
  </div>
  <div class="action" id="actionDiv"> 
    <div class="new-contentarea tc"> 
        <a href="javascript:void(0)" class="upload-img">
            <label for="upload-file">add</label>
        </a>
        <input type="file" name="upload-file" id="upload-file" @change="uploadChange" />
    </div>
    <input type="button" id="btnCrop" class="Btnsty_peyton" value="CUT" @click="crop()">
    <!--  
    <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+" @click="zoomIn">
    <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" @click="zoomOut">
    -->
    <input type="button" onclick="autoResize()" class="Btnsty_peyton" value="a">
    
    <select id="circleColor" v-model="circleColor" @change="circleColorChange(circleColor)" class="v-select">
	    <option value="red">red</option>
	    <option value="yellow">yellow</option>
	    <option value="white">white</option>
	    <option value="black">black</option>
	    <option value="blue">blue</option>
	    <option value="green">green</option>
    </select>
  </div>
  <!--
  <input type="button"  onclick="test()" class="Btnsty_peyton" value="test">
  -->
</div>

<script type="text/javascript">

window.onmouseup = function() {
	cropper.state.dragable = false;
}

window.ontouchend = function() {
    cropper.state.dragable = false;
}

var containerDiv = new Vue({
	el:'#containerDiv',
	data: {currentBgX:0, currentBgY:0, thumbWidth:'200', thumbHeight:'200', boxWidth:'400', boxHeight:'400'},
	methods: {
		setCurrentBgXY:function() {
			
			// alert(cropper.imageBox[0].style.backgroundPosition);
			
			var bg = cropper.imageBox[0].style.backgroundPosition.split(' '); 
            this.currentBgX = parseInt(bg[0]);
            this.currentBgY = parseInt(bg[1]);
		},
		mousedown:function() {
			var e = event;
			var obj = cropper;
			obj.state.dragable = true;
            e.preventDefault();
            e.stopImmediatePropagation();
            if (e.targetTouches) {
                if (e.targetTouches.length == 2) {
                    var len = getDistance(event.targetTouches[0], event.targetTouches[1]);
                    obj.state.downLen = len;
                }
                else if (e.targetTouches.length == 1) {
                    var touch = event.targetTouches[0];
                    obj.state.mouseX = touch.pageX;
                    obj.state.mouseY = touch.pageY;
                }
            }
            else {
                obj.state.mouseX = e.clientX;
                obj.state.mouseY = e.clientY;
            }
		},
		mousemove:function() {
			var e = event;
            var obj = cropper;
            var el = cropper.imageBox;
            
			if (!obj.state.dragable) return;
            e.stopImmediatePropagation();
            e.preventDefault();
            if (e.targetTouches) {
                if (e.targetTouches.length == 2) {
                    var len = getDistance(event.targetTouches[0], event.targetTouches[1]);
                    cropper.ratio *= len / obj.state.downLen;
                    obj.state.downLen = len;
                    setBackground();
                    return;
                }
                else if (event.targetTouches.length == 1) {
                    var touch = event.targetTouches[0];
                    e.clientX = touch.pageX;
                    e.clientY = touch.pageY;
                }
            }
            
            var x = e.clientX - obj.state.mouseX;
            var y = e.clientY - obj.state.mouseY;
            
            var bg = el.css('background-position').split(' ');
            var bgX = x + parseInt(bg[0]); 
            var bgY = y + parseInt(bg[1]);
                            
            el.css('background-position', bgX +'px ' + bgY + 'px');
            
            
            obj.state.mouseX = e.clientX;
            obj.state.mouseY = e.clientY;
		}
	}
})

var actionDiv = new Vue({
	el:'#actionDiv',
	data: {circleColor:'blue'},
	methods:{
		circleColorChange:function(value) {
			document.getElementById("cropCircle").src = getCropCircle(value);
		},
		uploadChange:function() {
			var reader = new FileReader();
	        reader.onload = function(e) {
	        	document.getElementById("containerDiv").outerHTML = imageBoxHtml;
	            $("#cropCircle").attr("src", getCropCircle(actionDiv.circleColor));
	            options.imgSrc = e.target.result;
	            cropper = $('.imageBox').cropbox(options);
	        }
	        reader.readAsDataURL(event.currentTarget.files[0]);
		},
		crop:function() {
			$("#cropCircle").hide();
	        $("#cropCircleImg").show();
	        $("#cropCircleImg").attr("src", getDataURL());
	       
	        var bg = cropper.imageBox.css('background-position').split(' ');
	        var bgX = -containerDiv.currentBgX + parseInt(bg[0]);
	        var bgY = -containerDiv.currentBgY + parseInt(bg[1]); 
	        containerDiv.setCurrentBgXY();
	        
	        var x = cropper.image.width / 2 - bgX / cropper.ratio;
	        var y = cropper.image.height / 2 - bgY / cropper.ratio;
	        var canvas = getCircleCanvas(cropper.image.width, cropper.image.height, x, y, actionDiv.circleColor, cropper.ratio);
	        
	        // canvas的toDataURL是只能压缩jpg的，当用户上传的图片是png的话，就需要转成jpg，也就是统一用canvas.toDataURL('image/jpeg', 0.1)
	        cropper.image.onload = function() {
	            cropper.imageBox.css('background-position', containerDiv.currentBgX  + 'px ' +  containerDiv.currentBgY + "px");
	        }
	        
	        cropper.image.src = canvas.toDataURL('image/jpeg', 0.9);
	        cropper.imageBox.css('background-image', 'url(' + cropper.image.src + ')');
		},
		zoomIn:function() {
			cropbox.ratio *= 1.1;
            setBackground();
		},
		zoomOut:function() {
			cropbox.ratio *= 0.9;
            setBackground();
		}
	}
})

function autoResize() {
	var w = cropper.imageBox.width();
    var h = cropper.imageBox.height();
    
    var x = 0;
    var y = 0;
    
    var imgW = cropper.image.width;
    var imgH = cropper.image.height;
    if (imgW > imgH) {
    	h = w * imgH / imgW;
    	y = (cropper.imageBox.height() - h) / 2;
    }
    else if(imgW < imgH) {
    	w = h *  imgW / imgH;
    	x = (cropper.imageBox.width() - w) / 2;
    }
	
    cropper.imageBox.css({
    	'background-image': 'url(' + cropper.image.src + ')',
        'background-size': w + 'px ' + h + 'px',
        'background-position': x + 'px ' + y + 'px',
        'background-repeat': 'no-repeat'});
}

function test() {
    html2canvas(document.getElementById("containerDiv")).then(function(canvas) {
        document.body.appendChild(canvas);
    });
}


var cropper;
var options = {thumbBox: '.thumbBox', imgSrc: '/static/tool/img/5.jpg'};
var imageBoxHtml = document.getElementById("containerDiv").outerHTML;
$(function() {
	
    cropper = $('.imageBox').cropbox(options);
    
    document.getElementById("cropCircle").src = getCropCircle(actionDiv.circleColor);
  
    
    document.body.addEventListener("mousewheel", function(e) {
    	e.wheelDelta > 0 || e.detail < 0 ? cropper.ratio *= 1.1 : cropper.ratio *= 0.9;
        setBackground();
    });
});


function getCircleCanvas(w, h, x, y, color, ratio) {
	var canvas = document.createElement("canvas");
    canvas.width = w;
    canvas.height = h;
    var context = canvas.getContext("2d");
    
    if (ratio) {
    	context.drawImage(cropper.image, 0, 0, cropper.image.width, cropper.image.height, 0, 0, cropper.image.width, cropper.image.height);
    }
    else {
    	ratio = 1;
    }
    
    context.lineWidth = 3;
    context.beginPath();
    context.setLineDash([4,2]);
    
    context.arc(x, y, 100 / ratio, 0, Math.PI*2, true);
    context.strokeStyle = color;
    context.stroke();
    context.closePath();
    return canvas;
}

function getCropCircle(color) {
	var w = $("#containerDiv").width();
	var h = $("#containerDiv").height();
    
    var canvas = getCircleCanvas(w, h, w/2, h/2, color);
    
    var imageData = canvas.toDataURL('image/png');
    return imageData;
}


function getDistance(p1, p2) {
    var x = p2.pageX - p1.pageX,
    y = p2.pageY - p1.pageY;
    return Math.sqrt((x * x) + (y * y));
};




function setBackground() {
	var w =  parseInt(cropper.image.width) * cropper.ratio;
    var h =  parseInt(cropper.image.height) * cropper.ratio;
    var pw = (cropper.imageBox.width() - w) / 2;
    var ph = (cropper.imageBox.height() - h) / 2;
    
    var bgStyle = cropper.imageBox[0].style;
    
    bgStyle.backgroundImage = 'url(' +  cropper.image.src + ')';
    bgStyle.backgroundSize = w + 'px ' + h + 'px';
    bgStyle.backgroundPosition = pw + 'px ' + ph + 'px';
    bgStyle.backgroundRepeat = 'no-repeat';
    
    containerDiv.setCurrentBgXY();
}


function getDataURL() {
    var width = containerDiv.thumbWidth;
    var height = containerDiv.thumbHeight;
    
    var canvas = document.createElement("canvas");
    
    var bgStyle = cropper.imageBox[0].style; // .split(' '); 
    
    var dim = bgStyle.backgroundPosition.split(' ');
    var size = bgStyle.backgroundSize.split(' ');
    
    var dx = parseInt(dim[0]) - containerDiv.boxWidth / 2 + width / 2;
    var dy = parseInt(dim[1]) - containerDiv.boxHeight / 2 + height / 2;
    var dw = parseInt(size[0]);
    var dh = parseInt(size[1]);
    var sh = parseInt(cropper.image.height);
    var sw = parseInt(cropper.image.width);

    canvas.width = width;
    canvas.height = height;
    var context = canvas.getContext("2d");
    context.drawImage(cropper.image, 0, 0, sw, sh, dx, dy, dw, dh);
    var imageData = canvas.toDataURL('image/jpeg');
    return imageData;
}









</script>

</body>
</html>

