
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link th:replace="base/base-fragment::common"/>


<title>CUT_DEMO</title>

<script type="text/javascript" th:src="@{/static/tool/jquery.min-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/static/tool/img/cropbox.js?v=1}"></script>
<script type="text/javascript" th:src="@{/static/tool/img/html2canvas.min.js}"></script>
<link rel="stylesheet" th:href="@{/static/tool/img/cut.css}">


</head>
<body>
<div class="container" >
  <div class="imageBox" id="container">
    <div class="thumbBox"style="display: none"></div>
    <div class="spinner" style="display: none">Loading...</div>
    <img id="testImg" src="" align="absmiddle" style="width:200px;margin-top:4px;border-radius:200px;box-shadow:0px 0px 12px #7E7E7E;">
  </div>
  <div class="action"> 
    <div class="new-contentarea tc"> 
        <a href="javascript:void(0)" class="upload-img">
            <label for="upload-file">批量添加</label>
        </a>
        <input type="file" class="" name="upload-file" id="upload-file" />
    </div>
    <input type="button" id="btnCrop"  class="Btnsty_peyton" value="CUT">
    <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
    <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-"  style="">
  </div>
  
   
</div>

<script type="text/javascript">

function test() {
    //var blob = cropper.getBlob();
    //document.getElementById("btn").href = window.URL.createObjectURL(blob);
    html2canvas($("#container")[0]).then(function(canvas) {
        //var newCanvas = cropImage(canvas, 0, 0, 500, 500);
        document.body.appendChild(canvas);
    });
}

var cropper;

isNewImage = true;
currentBgX = 0;
currentBgY = 0;
$(function() {
	
	var ttt = $(".imageBox")[0].outerHTML;
	
    var options = {thumbBox: '.thumbBox',spinner: '.spinner',imgSrc: '/static/tool/img/5.jpg'}
    cropper = $('.imageBox').cropbox(options);
    $('#upload-file').on('change', function(){
        var reader = new FileReader();
        reader.onload = function(e) {
            isNewImage = true;
            
            $(".imageBox")[0].outerHTML = ttt;
            
            
            options.imgSrc = e.target.result;
            
            cropper = $('.imageBox').cropbox(options);
        }
        reader.readAsDataURL(this.files[0]);
        // this.files = [];
    })
    $('#btnCrop').on('click', function(){
        var img = cropper.getDataURL();
        $("#testImg").attr("src", img);
        
        
        
        var canvas = document.createElement("canvas");
        canvas.width = cropper.image.width;
        canvas.height = cropper.image.height;
        var context = canvas.getContext("2d");
        context.drawImage(cropper.image, 0, 0, cropper.image.width, cropper.image.height, 0, 0, cropper.image.width, cropper.image.height);
        
        context.beginPath();
        
        
        // 缩小时移动有bug，画图
       var bg = cropper.imageBox.css('background-position').split(' ');
       var bgX = -currentBgX + parseInt(bg[0]);
       var bgY = -currentBgY + parseInt(bg[1]);  
      
       currentBgX = parseInt(bg[0]);
       currentBgY = parseInt(bg[1]);
       
        
    
        
        // context.arc(x,y,radius,starAngle,endAngle,anticlockwise);
        // 设置虚线4-2-4-2排列
        context.setLineDash([4,2]);
        context.arc(cropper.image.width / 2 - bgX/ cropper.ratio,  cropper.image.height / 2 - bgY/ cropper.ratio, 100 / cropper.ratio, 0, Math.PI*2, true);
        context.strokeStyle = "#ffffff";//线条的颜色
        context.stroke();
        context.closePath();
        
        
        // canvas的toDataURL是只能压缩jpg的，当用户上传的图片是png的话，就需要转成jpg，也就是统一用canvas.toDataURL('image/jpeg', 0.1) ， 
        // 类型统一设成jpeg，而压缩比就自己控制了
        //cropper.image.src = canvas.toDataURL('image/png');
        cropper.image.src = canvas.toDataURL('image/jpeg', 0.8);
        
        
        
        
    })
    
    $('#btnZoomIn').on('click', function(){
        cropper.zoomIn();
    })
    $('#btnZoomOut').on('click', function(){
        cropper.zoomOut();
    })
});
</script>

</body>
</html>