
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link th:replace="base/base-fragment::common"/>


<title>MEMORY_DEMO</title>

<script type="text/javascript" th:src="@{/static/tool/img/html2canvas.min.js}"></script>
<script type="text/javascript" th:src="@{/static/tool/img/exif.min.js}"></script>
<link rel="stylesheet" th:href="@{/static/tool/img/crop.css}">


</head>
<body>
<div class="container">
<div id="imageBox" :style="{width:boxWidth, height:boxHeight}"  @mousedown="mousedown()" @touchstart="mousedown()" @mousemove="mousemove()" @touchmove="mousemove()">
    <div class="thumbBox" :style="{display:'none', width:thumbWidth, height:thumbHeight}"></div>
    <div v-for="text in textArray" style="position:relative;width:0;height:0;">
         <div class="imgText" :style="{top:text.x + 'px',left:text.y + 'px',backgroundColor:text.color,color:text.bgColor}">{{text.value}}</div>
    </div>
    <img id="cropCircle">
    <img id="cropCircleImg" style="width:200px;margin-top:4px;border-radius:200px;box-shadow:0px 0px 12px #7E7E7E;display:none">
</div>

<div class="action" id="actionDiv">
    <div style="display:flex;align-items: center;justify-content:space-around">
	    <input type="file" name="upload-file" id="upload-file" @change="uploadChange" style="display: none"/>
	    <button class="v-button" onclick="document.getElementById('upload-file').click()">上传</button>
	    <span>圆颜色</span>
	    <select v-model="circleColor" @change="circleColorChange(circleColor)" class="v-select" style="width:3.5rem">
		    <option value="red">红</option>
		    <option value="yellow">黄</option>
		    <option value="white">白</option>
		    <option value="black">黑</option>
		    <option value="blue">蓝</option>
		    <option value="green">绿</option>
	    </select>
	    <button type="button" class="v-button-primary" @click="crop()">crop</button>
	    <button type="button" class="v-button" @click="autoResize()">auto</button>
	    
    </div>
    <div v-for="text in textArray" style="display:flex;align-items: center;justify-content:space-around;flex-wrap:wrap">
        <span>字体</span>
        <input v-model="text.value" type="text" class="v-text">
        <select v-model="text.color" class="v-select" style="width:3.5rem">
            <option v-for="item in TEXT_COLOR_LIST" :value="item.v">{{item.t}}</option>
        </select>
        <select v-model="text.bgColor" class="v-select" style="width:3.5rem">
            <option v-for="item in TEXT_COLOR_LIST" :value="item.v">{{item.t}}</option>
        </select>
        <span>字体位置</span>
        <input type="text" v-model="text.x" class="v-text" style="width:4rem">
        <input type="text" v-model="text.y" class="v-text" style="width:4rem">
        
        <button type="button" class="v-button" @click="textOk()">textOk</button>
    </div>
    
    <button type="button" @click="addText()" class="v-button">addText</button>
</div>




</div>
<script type="text/javascript">
var TEXT_COLOR_LIST = [];
TEXT_COLOR_LIST.push({v:'red', t:'红'});
TEXT_COLOR_LIST.push({v:'yellow', t:'黄'});
TEXT_COLOR_LIST.push({v:'white', t:'白'});
TEXT_COLOR_LIST.push({v:'black', t:'黑'});
TEXT_COLOR_LIST.push({v:'blue', t:'蓝'});
TEXT_COLOR_LIST.push({v:'green', t:'绿'});

</script>

<script type="text/javascript" th:src="@{/static/tool/img/cut.js?v=03}"></script>
<script type="text/javascript">

var cropper = cropbox({imgSrc:'/static/tool/img/5.jpg'});
document.getElementById("cropCircle").src = util.getCropCircle(actionVue.circleColor);
document.body.addEventListener("mousewheel", function(e) {
	e.wheelDelta > 0 || e.detail < 0 ? cropper.ratio *= 1.1 : cropper.ratio *= 0.9;
    util.setBackground();
});
window.onmouseup = function() {cropper.state.dragable = false}
window.ontouchend = function() { cropper.state.dragable = false}

function test() {
    html2canvas(document.getElementById("imageBox")).then(function(canvas) {
        document.body.appendChild(canvas);
    });
}
</script>

</body>
</html>

