<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="base/base-fragment::common"/>
</head>

<body>

<div class="v-title">
	<label class="v-title-label">修改密码</label>
</div>

<table id="passwordTable" class="v-table v-cloak">
    <tr>
        <th class="w-name">旧密码</th>
        <td><input class="v-text" type="password" v-model="p.oldP" maxlength="32"><span class="v-error">{{v.oldP}}</span></td>
    </tr>
    <tr>
        <th>新密码</th>
        <td><input class="v-text" type="password" v-model="p.newP" maxlength="32"><span class="v-error">{{v.newP}}</span></td>
    </tr>
    <tr>
        <th>确认新密码</th>
        <td><input class="v-text" type="password" v-model="p.ensureP" maxlength="32"><span class="v-error">{{v.ensureP}}</span></td>
    </tr>
    <tr>
        <td colspan="2"> <button type="button" class="v-button-primary"  @click="editPassword()">确定</button></td>
    </tr>
   
</table>


<script type="text/javascript" th:inline="javascript">

function validatePassword(value) {
    // 最少八位且包含字母和数字
    var exp = '(?=.*[0-9])(?=.*[a-zA-Z]).{8,}';
    if (! new RegExp(exp).test(value)) {
        return "最少八位且包含字母和数字";
    }
}

function validateEnsure(newP, ensureP) { 
	if (newP != ensureP) {
		return "新密码跟确认新密码不相同！";
	}
}

var password = new Vue({
	el:"#passwordTable",
	data:{p:{}},
	methods:{
		editPassword:function() {
			if (!this.isValid) return;
			
			// var para = "oldP=" + $("#oldP").val() + "&newP=" + $("#newP").val();
			// $.post([[@{/auto/index/updatePassword}]], para, function(r) {
			axios.post("auth/index/updatePassword", this.p).then(function(res) {
           		 alert("修改成功");
        	});
		}
			
	},
	computed: {
		v: function() {
			return {
				oldP:V.notNull(this.p.oldP),
				newP:V.notNull(this.p.newP) || validatePassword(this.p.newP),
				ensureP:V.notNull(this.p.ensureP) || validateEnsure(this.p.newP, this.p.ensureP)
		    }
		},
		isValid:function () {
			for (o in this.v) {
				if (this.v[o] && this.v[o] != "") return false;
			}
			return true;
		}
	}
});




</script>
</body>
</html>
