<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:replace="base/base-fragment::common"/>
<script type="text/javascript" th:src="@{/base/dict/list?code=base.exec_result}"></script>

</head>
<body>

<ul class="nav nav-tabs">
    <li><a th:href="@{/base/config/config}">配置参数</a></li> 
    <li><a th:href="@{/base/config/configService}">配置服务</a></li>
    <li class="active"><a th:href="@{/base/config/configResult}">配置刷新</a></li> 
</ul>

<div id="page" v-cloak>
	<div class="v-title">
		<label class="v-title-label">configResult</label>
		<input type="text" class="v-text" v-model="p.configName" maxlength="32">
		<button class="v-button" @click="goto()">搜索</button>
	</div>
	<table class="v-table v-table-hover">
	<tr>
		<th class="w-name">configName</th>
        <th class="w-id">serviceId</th>
        <th class="w-id">execResult</th>
        <th class="w-title">execDesc</th>
        <th class="w-time">created</th>
        <th class="w-action">操作</th>
	</tr>
	<tr v-for="item in list">
	   <td>{{item.configName}}</td>
       <td>{{item.serviceId}}</td>
       <td>{{dict.exec_result[item.execResult]}}</td>
       <td>{{item.execDesc}}</td>
       <td>{{item.created}}</td>
       <td>
        <a v-if="item.execResult == 1" @click="request(item)">重新请求</a>
       </td>
	</tr>
	</table>
	<div th:replace="base/base-fragment::page"></div>
</div>

<div id="modal" v-cloak>
<modal v-if="modal.showModal" :modal="modal">
<table class="v-table" slot="body">
	<tr>
		<th class="w-id">值</th>
		<td>
			<textarea class="v-text" style="width:30rem;height:10rem" v-model="p.configValue" value=""></textarea>
		</td>
	</tr>
</table>
</modal>
</div>
<script type="text/javascript" th:inline="javascript">

function request(item) {
	alert(item);
}

var vPage = base.page("base/config/listConfigResult", [[${data}]], {configName:[[${configName}]]});




</script>
</body>
</html>

